# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
venv/
venv/*
.env.*
.venv/

# pipenv
Pipfile.lock

# poetry
poetry.lock

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# pytest
htmlcov/
.pytest_cache/

# mypy
.mypy_cache/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model cache (if any)
transformers_cache/

# Dropbox
.dropbox
